<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <% 2.times do %>
      <br>
    <% end %>
    <i><section class="pull-right" style="font-size:150%;" >Report for: <em><%= Time.now.strftime("%d/%m/%Y") %></em></section></i>
    <% 3.times do %>
      <br>
    <% end %>
      <section>
        <%= render 'shared/report_form' %>
      </section>
  </div>
<% else %>
<div class = "center hero-unit">
	<div>
	<h1>Need simple solution for reporting?</h1>
	<h2>You are one step closer</h2>
	<%= image_tag("report_home_image.jpg",height: 480, width:360) %>
	</div>
	<div>
	<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>
<% end %>

