<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section> <%= render 'shared/stats'%> </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <% @users.each do |u| %>
          <li>
            <%= gravatar_for(u,40) %>
            <%= link_to u.name, u %>
            <% if u.reports.size > 0 %>
              <span class="content"><%= u.reports.first.content %></span>
              <span class="timestamp">Posted <%= time_ago_in_words(u.created_at)%> ago.</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>